<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조회</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/views/partials/base.css">
    <link rel="stylesheet" type="text/css" href="/views/partials/detail.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>

</head>

<body>
    <% var logind = login; %>
        <%- include('../partials/header', {menu:"detail", login: logind}) %>

        <!-- contents part -->
    <div class="detail_page_container">
        <div class="detail_page">
            <!-- 제품 사진 부분 -->
            <div class="img_container">
                <img src="/image/mask/<%= data.image %>" alt="mask_img">
            </div>
            <!-- 제품 설명 부분 -->
            <div class="mask_info_container">
                <table class="infoT">
                    <tr>
                        <th colspan="2"><%= data.prodName %></th> <!--제품명-->
                    </tr>
                    <tr>
                        <td>규격</td>
                        <td><%= data.spec %></td>
                    </tr>
                    <tr>
                        <td>디자인</td>
                        <td><%= data.design %></td>
                    </tr>
                    <tr>
                        <td>마스크 끈</td>
                        <td><%= data.strap %></td>
                    </tr>
                    <tr>
                        <td>필터</td>
                        <td><%= data.kf %></td>
                    </tr>
                    <tr>
                        <td>사이즈</td>
                        <td><%= data.size %></td>
                    </tr>
                    <tr>
                        <td>색상</td>
                        <td><%= data.color %></td>
                    </tr>
                    <tr>
                        <td>브랜드</td>
                        <td><%= data.brand %></td>
                    </tr>
                    <tr>
                        <td colspan="2" id="go2homepage"><a href="<%= data.homepage %>"><i class="fas fa-home"></i>홈페이지 바로가기</a></td>
                    </tr>
                </table>

                <div class="jjimNreview" id="jjim">
                    <label for="check" class="switch-button">
                        <input type="hidden" id="hidden" value = "<%= data.idx %>"/>
                        <input type="checkbox" id="check"/>
                        <i class="far fa-heart"></i>
                        <i class="fas fa-heart"></i>
                    </label>

                    <span class="review"><a href="#">review</a></span>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const submit = document.getElementById('check')
    if (!(<%= login %>))
        document.getElementById('jjim').style.display = "none";
    else if ((<%= check %>))
        submit.checked = true;
    var check = "1";
    submit.onclick = function() {
        if (!submit.checked)
            check = "2";
        $.ajax({
            type: "POST",
            url: "/check",
            data: {
                idx: document.getElementById('hidden').value,
                checked: check
            },
            success: function(result) {},
            error: function() {}
        });
    }
</script>

</html>
