<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지</title>
    <style>
        table,
        th,
        td {
            border: 2px solid darkgray;
            border-collapse: collapse
        }
        
        tr {
            height: "30";
        }
        
        th {
            background-color: lightcyan;
        }
        
        table {
            width: 100%;
            text-align: center;
        }
        
        .category {
            background-color: lightcyan;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/views/partials/base.css">
</head>

<body>
    <% var logind = login; %>
        <%- include('../partials/header', {menu:"myPage", login : logind }) %>
            <h1 style="text-align: center; margin-top:2%">마이페이지</h1>
            <h1 style="text-align: center; margin-top:2%">찜한 마스크</h1>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>브랜드</th>
                            <th>상품명</th>
                            <th>사이즈(규격)</th>
                            <th>디자인</th>
                            <th>끈</th>
                            <th>필터</th>
                            <th>사이즈(대중소)</th>
                            <th>색상</th>
                            <th>홈페이지</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div class="rows">
                            <% dataArr.forEach(function(data){ %>
                                <tr>
                                    <td>
                                        <%= data.brand %>
                                    </td>
                                    <td onclick="location.href=`/detail?prod=' + <%= data.idx %> + '`">
                                        <%= data.prodName %>
                                    </td>
                                    <td>
                                        <%= data.spec %>
                                    </td>
                                    <td>
                                        <%= data.design %>
                                    </td>
                                    <td>
                                        <%= data.strap %>
                                    </td>
                                    <td>
                                        <%= data.kf %>
                                    </td>
                                    <td>
                                        <%= data.size %>
                                    </td>
                                    <td>
                                        <%= data.color %>
                                    </td>
                                    <td>
                                        <a href="<%= data.homepage %>">
                                            <%= data.homepage %>
                                        </a>
                                    </td>
                                </tr>
                                <% }) %>
                        </div>
                    </tbody>
                </table>
            </div>
</body>

</html>